[project]
name = "nlp-name-classification-wsl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.4.0",
    "torch>=2.9.1",
    "unidecode>=1.4.0",
]
